<div class="container-narrow" style="margin: 0 auto; max-width: 700px">
	<div class="jumbotron" style="text-align: center">
		<h1 style="text-align: center">Account Reactivation</h1>
		<p class="lead">
			This account is currently disabled. You may reactivate it by confirming below, or you can cancel to go back to the home page.
		</p>
		<%= link_to 'Reactivate!', reactivate_path, :class => "btn btn-large btn-success" %>
		<%= link_to 'Cancel', root_path, :class => "btn btn-large btn-danger" %>
	</div>
</div>
