<div class="container"
    <div id="sidebar">
      <a href="profile.html"><img src="http://people.nas.nasa.gov/~kolano/images/homer_pieman.jpg" width="280" height="280"/></a>
      <h1><%= @user.name %></h1>
      <p class="slogan">Reciplease Fanatic</p>
      
      <ul>
        <li><a href="#"><%= @user.name %>'s Favorite Reipes</a><br />Recipe's to die for!</li>
        <li><a href="#">Full Bio</a><br />I think, therefore I cook...</li>
      </ul>
    </div>

    <div id="content">
      <p><b>Email:</b> <%= @user.email %></p>
      <p><b>NEED MORE STUFF HERE LOL</b></p>
      
      <h3><%= @user.name %>'s Recipes</h3>
      <p class="credits">2012 Reciplease<br/></p>
    </div>
</div> 