<h2> Getting Started </h2>

<p>
	Welcome to Reciplease! This guide is intended to help you setup your account and make your very first contribution.
</p>

<h4> Creating an Account </h4>

<p>
	The first step to using Reciplease is creating an account. If you have already done this, welcome! You can skip this step.
</p>

<blockquote>
	<li>Click the <%= link_to 'Join Us!', new_user_registration_path %> button on the home page </li>
	<li>Enter your registration info </li>
	<li>A name, email address, and password are required to create an account </li>
	<li>Click "Sign Up" </li>
	<li>A confirmation email will be sent to the provided email </li>
	<li>Open your cofirmation email and click "Confirm my account" </li>
</blockquote>

<h4>Editing your Account </h4>

<p>
	Now you can navigate to your profile and make edits to add any additional information you would like to share. 
	By clicking your name in the top right corner, you can go to your profile page. 
	Here you will find an edit account button. This is also where you will go if you want to remove your account
	(we hope you won’t!). 
</p>

<p>
	Your profile image uses the <%= link_to 'Gravatar', "http://gravatar.com" %> service. Currently, You need to create an account there if you want
	to customize it.
</p>

<h4>Browsing Recipes</h4>

<p>
	Now that you’re logged in, there’s an <%= link_to 'All Recipes', recipes_path %> link on the homepage. 
	From the main recipe list, you can access all of the recipes on the site. 
	You can also search for specific recipes using the search bar.
</p>	
	
<h4>Commenting and Rating</h4>

<p>
	You can comment on recipes by using the comment box at the bottom of the page,
	you can rate a recipe by clicking on the stars near the top of the page. 
	A 5-star recipe will be added to your favorites on your profile. 
	Please be kind, not everyone can be as awesome as you!
</p>

<p>
	Commenting and recipe descriptions support <%= link_to 'Markdown', 'http://en.wikipedia.org/wiki/Markdown' %>,
	so you can add some pizazz to your text.
</p>

<h4>Creating your own Recipes</h4>

<p>
	On the recipe list, you can click New Recipe to create a recipe. 
	You will then enter instructions and a description of the dish
</p>

<h4>Personalizing a Recipe</h4>

<p>
	While viewing a recipe from another user, you can click personalize. 
	Upon doing so, you are presented with an edit recipe form. 
	Any edit you make will be saved to your own version of the recipe.
</p>

<h4>History</h4>

<p>
	When you view your recipe or any other recipe that was based off of another recipe, 
	you can click history to see the older versions of the recipe.
</p>
