<div class="container">
	<div class="page-header">
  		<h1>Reciplease Dashboard</h1>
	</div>
	<div class="row">
  		<div class="span4">
  			<ul class="thumbnails">
  				<li class="span4">
    				<%= link_to image_tag("dashboard/profile.png"), user_path(current_user), :class=>"thumbnail" %>
  				</li>
			</ul>
		</div>
  		<div class="span4">
  			<ul class="thumbnails">
  				<li class="span4">
      				<%= link_to image_tag("dashboard/new_recipe.png"), new_recipe_path, :class=>"thumbnail" %>
  				</li>
			</ul>
		</div>
  		<div class="span4">
  			<ul class="thumbnails">
  				<li class="span4">
      				<%= link_to image_tag("dashboard/all_recipes.png"), recipes_path, :class=>"thumbnail" %>
  				</li>
			</ul>
		</div>
	</div>
	
	<div class="row" align="center">
		<%= link_to('Getting Started!', gettingStarted_path , :class => "btn btn-large btn-primary")%>
	</div>
</div>