<div class="container">
	<div class="row">
  		<div class="span4">
  			<ul class="thumbnails">
  				<li class="span4">
    				<a href="#" class="thumbnail">
      					<img src="http://placehold.it/350x600" alt="">
    				</a>
  				</li>
			</ul>
		</div>
  		<div class="span4">
  			<ul class="thumbnails">
  				<li class="span4">
    				<a href="#" class="thumbnail">
      					<img src="http://placehold.it/350x600" alt="">
    				</a>
  				</li>
			</ul>
		</div>
  		<div class="span4">
  			<ul class="thumbnails">
  				<li class="span4">
    				<a href="#" class="thumbnail">
      					<img src="http://placehold.it/350x600" alt="">
    				</a>
  				</li>
			</ul>
		</div>
	</div>
</div>
